﻿@{
    ViewData["Title"] = "Home Page";

    var teams = ViewBag.TeamNames;
    var colorLegend = ViewBag.ColorLegend;
    var environments = ViewBag.Environments;
    var appTypes = ViewBag.AppTypes;
}
<p id="user" style="display: none !important;">@ViewBag.Username</p>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>Select a Department:</h3>
            <select id="allTeamsList" name="allTeamsList" class="form-control" title="Teams List">
                <option value="0" disabled="disabled" selected="selected"></option>

                @foreach (var item in teams)
                {
                    <option value='@item.TeamName'>@item.TeamName</option>
                }
            </select>
            <br />
            <h5>Select what you would like to view:</h5>
        </div>
        <div class="col-md-4 text-center">
            <br />
            <button id="btnNewServerRequest" class="btn btn-outline-primary" title="This is a request to have a new server added to the data for the selected specific team." onclick="DisplayModal();NewServerRequest('Server');"><i class="fas fa-plus"></i> Add Server to Team List</button>
            <br /><br />
            <button id="btnNewApplicationRequest" class="btn btn-outline-primary" title="This is a request to have a new application added to the data for the selected specific team." onclick="DisplayModal();NewApplicationRequest('Application');"><i class="fas fa-plus"></i> Add App to Team List</button>
        </div>
    </div>
    <br />
    <!-- Toggle for Apps or Servers -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1 text-center">
            <label>Applications</label>
        </div>
        <div class="col-md-2 text-center">
            <label class="switch">
                <input type="checkbox" id="appTypeSearch">
                <span class="slider3 round"></span>
            </label>
        </div>
        <div class="col-md-1 text-center">
            <label>Servers</label>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- End Toggle for Apps or Servers -->
    <br />
</div>
<hr />
<div class="col-md-6">
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#colorLegendModal">View Color Legend</button>
    <button type="button" id="clearfilterButton" class="btn btn-secondary" data-toggle="modal" >Clear Filters</button>
</div>
<hr />

<div class="container">
    <!-- App Details -->
    <div id="appDetailSection">
        <div class="row">
            <div class="col-md-4">
                <h4>Filter by App Name:</h4>
                <input type="text" id="searchBox" class="form-control" placeholder="Search Application(s)"/>
            </div>
            <div class="col-md-3 text-center">
                <h4>Filter by Environment:</h4>
                <select id="allEnvironmentsList" name="allEnvironmentsList" class="form-control" title="Environments List">
                    <option value="0" disabled="disabled" selected="selected"></option>

                    @foreach (var env in environments)
                    {
                        <option value='@env.EnvironmentName'>@env.EnvironmentName</option>
                    }
                </select>
            </div>
            <div class="col-md-3 text-center">
                <h4>Filter by App Type:</h4>
                <select id="allAppTypeList" name="allAppTypeList" class="form-control" title="App Type List">
                    <option value="0" disabled="disabled" selected="selected"></option>

                    @foreach (var type in appTypes)
                    {
                        <option value='@type.Type'>@type.Type</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <table id="applicationResultsTable" class="cell-border" style="width: 100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>App Name</th>
                        <th>App Status</th>
                        <th>App Type</th>
                        <th>App Url</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- end App Details -->
    <!-- Server Details -->
    <div id="serverDetailsSection">
        <div class="row">
            <div class="col-md-4">
                <h4>Filter by Server Name:</h4>
                <input type="text" id="searchBoxServers" class="form-control" placeholder="Search Server(s)"/>
            </div>
            <div class="col-md-3 text-center">
                <h4>Filter by Environment:</h4>
                <select id="allEnvironmentsServerList" name="allEnvironmentsList" class="form-control" title="Environments List">
                    <option value="0" disabled="disabled" selected="selected"></option>

                    @foreach (var env in environments)
                    {
                        <option value='@env.EnvironmentName'>@env.EnvironmentName</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <table id="serverTable" class="cell-border" style="width: 100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Server</th>
                        <th>Team</th>
                        <th>Server Status</th>
                        <th>In Altiris For Patching</th>
                        <th>Altiris Patching Group</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- End Server Details -->
</div>

<div class="container">
<!-- Additional Details Modal-->
<div class="row">
    <div class="col-md-12">
        <div id="additionalDetails" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modaltitle"></h2>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <table id="addlDetailsTable" class="display" cellspacing="0" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Additional Details Modal -->
<!--new request Modal -->
<div class="row">
    <div class="col-md-12">
        <div id="newRequest" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modaltitle1"></h2>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <!-- New Request -->
                        <div class="container">
                            <form asp-controller="NewRequest" asp-action="SubmitNewRequest">
                                <div class="row" id="requesterInfo">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <input type="hidden" id="newRequestAdminUsers" class="form-control" name="adminUserRecipients"/>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <br/>
                                <div class="row" id="newRequestDetails"></div>
                                <br/>
                                <div class="row" id="submitBtn">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <input type="submit" class="btn btn-success" value="Submit Request" style="width: 100% !important;">
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end new request modal-->
<!--Notes Modal-->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="notesModal" class="modal" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Additional Info</h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h4 id="noteTitle"></h4>
                        <p id="noteDetails"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="btnNotesModal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<!--end notes modal-->
<!--Color Legend Modal-->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="colorLegendModal" class="modal" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Color Legend</h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">

                            @foreach (var cL in colorLegend)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="padding: 15% !important; background-color: @cL.ColorCode !important;"></div>
                                    </div>
                                    <div class="col-md-1"> = </div>
                                    <div class="col-md-8">
                                        <h5>
                                            @cL.ColorCodeMeaning
                                        </h5>
                                    </div>
                                </div>
                                <hr/>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- end Color Legend Modal-->
<div class="row">
    <div class="col-md-12">
        <div id="loadingModal" class="modal" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5 id="loadingTitle">Information is loading...</h5>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div id="loader"></div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Edit Additional Details Modal-->
<div class="row">
    <div class="col-md-12">
        <div id="editAdditionalDetails" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="editModaltitle"></h2>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form asp-controller="NewRequest" asp-action="SubmitUpdate">
                                <div class="row" id="editRequesterInfo">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <input type="hidden" id="newUpdateAdminUsers" class="form-control" name="adminUserRecipients"/>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row" id="editAddlDetails"></div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <input type="submit" class="btn btn-success" value="Submit Update" style="width: 100% !important;">
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Edit Additional Details Modal -->
</div>



@section scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}