﻿
@{
    ViewData["Title"] = "View All Servers";

    var colorLegend = ViewBag.ColorLegend;

}

<div class="container">
    <div id="appDetailSection">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="searchBox" class="form-control" placeholder="Search Server(s)" />
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#colorLegendModal">View Color Legend</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <table id="serverTable" class="cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Team</th>
                            <th>Server Status</th>
                            <th>In Altiris For Patching</th>
                            <th>Altiris Patching Group</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="colorLegendModal" class="modal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Color Legend</h3>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">

                                @foreach (var cL in colorLegend)
                                {
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div style="padding: 15% !important; background-color: @cL.ColorCode !important;"></div>
                                        </div>
                                        <div class="col-md-1"> = </div>
                                        <div class="col-md-8">
                                            <h5>
                                                @cL.ColorCodeMeaning
                                            </h5>
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

@section scripts {
    <script src="~/js/viewAllServers.js" asp-append-version="true"></script>
}