﻿
@{
    ViewData["Title"] = "Request Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            @if (ViewBag.Status == "Success")
            {
                <h3 style="color: green !important">@ViewBag.Msg</h3>
            }
            else
            {
                <h3 style="color: red !important">@ViewBag.Msg</h3>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("Return Home", "Index", "Home", null, new {@class = "btn btn-info"})
        </div>
        <div class="col-md-4"></div>
    </div>
</div>